<div class="body">

  <%= form_tag("/question/question5_reason_bad") do %>

  <p>その理由を2つまでお選びください。</p>

  <select class="reason_bad" name="question5_reason_bad_1">
    <option value=""></option>
    <option value="1">館内がうるさい</option>
    <option value="2">全体的に雰囲気、センスが悪い</option>
    <option value="3">食事がまずい、食事処の雰囲気が悪い</option>
    <option value="4">従業員の接客、サービスが悪い</option>
    <option value="5">館内の手入れが行き届いていない</option>
    <option value="6">その他</option>
  </select>

  <select class="reason_bad" name="question5_reason_bad_2">
    <option value=""></option>
    <option value="1">館内がうるさい</option>
    <option value="2">全体的に雰囲気、センスが悪い</option>
    <option value="3">食事がまずい、食事処の雰囲気が悪い</option>
    <option value="4">従業員の接客、サービスが悪い</option>
    <option value="5">館内の手入れが行き届いていない</option>
    <option value="6">その他</option>
  </select>

  <p>
    <input type="submit"  value="次へ">
  </p>

  <% end %>

</div>
