<div class="body">
  <div class="question">
    <p>当ホテルの以下の項目について、ご満足いただけましたでしょうか？</p>

    <%= link_to("利用していない方はこちら","/question/question4_hotel",:style=>"color:blue;font-size:20px;")%>

  </div>

  <%= form_tag("/question/question4_breakfast") do %>
  <p>朝食について</p>
  <p>1.味付け</p>
  <select class="breakfast" name="question4_breakfast_1">
    <option value=""></option>
    <option value="5">とても満足</option>
    <option value="4">一応満足</option>
    <option value="3">どちらとも言えない</option>
    <option value="2">ちょっと不満</option>
    <option value="1">とても不満</option>
  </select>


  <p>2.メニュー構成</p>
  <select class="breakfast" name="question4_breakfast_2">
    <option value=""></option>
    <option value="5">とても満足</option>
    <option value="4">一応満足</option>
    <option value="3">どちらとも言えない</option>
    <option value="2">ちょっと不満</option>
    <option value="1">とても不満</option>
  </select>

  <p>3.器の選び方、センス</p>
  <select class="breakfast" name="question4_breakfast_3">
    <option value=""></option>
    <option value="5">とても満足</option>
    <option value="4">一応満足</option>
    <option value="3">どちらとも言えない</option>
    <option value="2">ちょっと不満</option>
    <option value="1">とても不満</option>
  </select>

  <p>4.盛りつけの美しさ、楽しさ</p>
  <select class="breakfast" name="question4_breakfast_4">
    <option value=""></option>
    <option value="5">とても満足</option>
    <option value="4">一応満足</option>
    <option value="3">どちらとも言えない</option>
    <option value="2">ちょっと不満</option>
    <option value="1">とても不満</option>
  </select>


  <p>
    <input type="submit"  value="次へ">
  </p>

  <% end %>


</div>
