<div class="body">

  <%= form_tag("/question/question5") do %>

  <p>当ホテルをまたご利用になりたいと思いますか？</p>

  <select class="question5" name="question5">
    <option value=""></option>
    <option value="1">是非利用したい</option>
    <option value="2">機会があれば利用したい</option>
    <option value="3">どちらとも言えない</option>
    <option value="4">あまり利用したくない</option>
    <option value="5">絶対に利用したくない</option>
  </select>

  <p>
    <input type="submit"  value="次へ">
  </p>


  <% end %>

</div>
