<div class="body">
  <%= form_tag("/question/question123") do %>
  <p>今回、湯郷温泉にお越しの目的はなんですか？</p>

  <select class="question1" name="question1">
    <option value=""></option>
    <option value="1">湯治</option>
    <option value="2">家族旅行</option>
    <option value="3">休暇</option>
    <option value="4">観光</option>
    <option value="5">イベント</option>
    <option value="6">その他</option>
  </select>

  <p class="other">
  (場所：<input name="question1_destination">)
  </p>

  <p class="other1">
  (内容：<input name="question1_event">)
  </p>

  <p class="other2">
  (具体的に：<input name="question1_other">)
  </p>

  <p>この度、当ホテルをお選びいただいた理由は何ですか？3つまでお選びください。</p>

  <select class="question2_1" name="question2_1">
    <option value=""></option>
    <option value="1">ホテルの雰囲気が良い</option>
    <option value="2">お風呂の雰囲気が良い</option>
    <option value="3">料理が美味しい</option>
    <option value="4">従業員のサービスが良い</option>
    <option value="5">温泉の泉質が良い</option>
    <option value="6">旅行代理店の勧め</option>
    <option value="7">以前利用したことがあり気に入った</option>
    <option value="8">料金が適正</option>
    <option value="9">のんびりとくつろげる</option>
    <option value="10">知人の勧め</option>
    <option value="11">その他</option>
  </select>

  <select class="question2_2" name="question2_2">
    <option value=""></option>
    <option value="1">ホテルの雰囲気が良い</option>
    <option value="2">お風呂の雰囲気が良い</option>
    <option value="3">料理が美味しい</option>
    <option value="4">従業員のサービスが良い</option>
    <option value="5">温泉の泉質が良い</option>
    <option value="6">旅行代理店の勧め</option>
    <option value="7">以前利用したことがあり気に入った</option>
    <option value="8">料金が適正</option>
    <option value="9">のんびりとくつろげる</option>
    <option value="10">知人の勧め</option>
    <option value="11">その他</option>
  </select>

  <select class="question2_3" name="question2_3">
    <option value=""></option>
    <option value="1">ホテルの雰囲気が良い</option>
    <option value="2">お風呂の雰囲気が良い</option>
    <option value="3">料理が美味しい</option>
    <option value="4">従業員のサービスが良い</option>
    <option value="5">温泉の泉質が良い</option>
    <option value="6">旅行代理店の勧め</option>
    <option value="7">以前利用したことがあり気に入った</option>
    <option value="8">料金が適正</option>
    <option value="9">のんびりとくつろげる</option>
    <option value="10">知人の勧め</option>
    <option value="11">その他</option>
  </select>

  <p class="other3">
  (具体的に：<input name="question2_other">)
  </p>

<div class="over">
  <p>当ホテルの内容と料金のバランスについてどのように思われますか？</p>
</div>


  内容に比較して<select class="question3" name="question3">
    <option value=""></option>
    <option value="1">非常に安い</option>
    <option value="2">やや安い</option>
    <option value="3">適正</option>
    <option value="4">やや高い</option>
    <option value="5">非常に高い</option>
  </select>

  <p>
    <input type="submit"  value="次へ">
  </p>


  <% end %>

<script type="text/javascript">
  $(function() {

    //セレクトボックスが切り替わったら発動
      $('.question1').change(function() {

        //選択したvalue値を変数に格納
          var val = $(this).val();

          if (val == 4){
            $('.other').addClass("select-other");
            $('.other1').removeClass("select-other");
            $('.other2').removeClass("select-other");
          }else if(val == 5){
            $('.other1').addClass("select-other");
            $('.other').removeClass("select-other");
            $('.other2').removeClass("select-other");
          }else if(val == 6){
            $('.other2').addClass("select-other");
            $('.other').removeClass("select-other");
            $('.other1').removeClass("select-other");
          }else {
            $('.other').removeClass("select-other");
            $('.other1').removeClass("select-other");
            $('.other2').removeClass("select-other");
          }
        });

        $('.question2_1').change(function() {

          //選択したvalue値を変数に格納
            var val = $(this).val();

            if (val == 11){
              $('.other3').addClass("select-other");
            }else {
                $('.other3').removeClass("select-other");
            }
        });

        $('.question2_2').change(function() {

          //選択したvalue値を変数に格納
            var val = $(this).val();

            if (val == 11){
              $('.other3').addClass("select5-1");
            }else {
                $('.other3').removeClass("select5-1");
            }
        });

        $('.question2_3').change(function() {

          //選択したvalue値を変数に格納
            var val = $(this).val();

            if (val == 11){
              $('.other3').addClass("select5-2");
            }else {
                $('.other3').removeClass("select5-2");
            }
        });
    });
  </script>


</div>
