
<div class="main">

 <img src="/f_logo.png" >
  <h1>ポピースプリングス</h1>
  <h1>リゾート＆スパ</h1>
  <p>この度はポピースプリングス　リゾート＆スパをご利用いただきまして、誠にありがとうございました。</p>
  <p>今後も、さらに皆様に愛されるホテルを目指して努力を続けてまいります。</p>
  <p>つきましては皆様の声をお聞かせくださいますよう、よろしくお願い申し上げます。</p>


  <div class="link">
    <%= link_to("アンケートに回答する","/registers",:style=>"color:naby;font-size:36px;")%>
  </div>


</div>
